-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: love_girl
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anniversaries`
--

DROP TABLE IF EXISTS `anniversaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anniversaries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'çºªå¿µæ—¥åç§°',
  `event_date` date NOT NULL COMMENT 'æ—¥æœŸ',
  `icon` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'â¤ï¸' COMMENT 'å›¾æ ‡',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `anniversaries_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='çºªå¿µæ—¥';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anniversaries`
--

LOCK TABLES `anniversaries` WRITE;
/*!40000 ALTER TABLE `anniversaries` DISABLE KEYS */;
INSERT INTO `anniversaries` VALUES (1,1,'恋爱纪念日','2024-01-01','💕','2026-05-23 21:19:20');
/*!40000 ALTER TABLE `anniversaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_versions`
--

DROP TABLE IF EXISTS `app_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_versions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `version_code` int NOT NULL COMMENT 'ç‰ˆæœ¬å·ï¼ˆæ•°å­—ï¼‰',
  `version_name` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç‰ˆæœ¬åï¼ˆæ˜¾ç¤ºï¼‰',
  `apk_url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'APKä¸‹è½½åœ°å€',
  `changelog` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ›´æ–°æ—¥å¿—',
  `file_size` bigint DEFAULT '0' COMMENT 'æ–‡ä»¶å¤§å°(å­—èŠ‚)',
  `md5` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'APKæ–‡ä»¶MD5',
  `force_update` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å¼ºåˆ¶æ›´æ–°',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'æ˜¯å¦å¯ç”¨',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=167 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='APPç‰ˆæœ¬ç®¡ç†';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_versions`
--

LOCK TABLES `app_versions` WRITE;
/*!40000 ALTER TABLE `app_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bean_transactions`
--

DROP TABLE IF EXISTS `bean_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bean_transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `amount` int NOT NULL,
  `balance_after` int NOT NULL,
  `type` varchar(30) NOT NULL,
  `title` varchar(100) NOT NULL,
  `source_module` varchar(30) DEFAULT NULL,
  `source_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_bean_transactions_user` (`user_id`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bean_transactions`
--

LOCK TABLES `bean_transactions` WRITE;
/*!40000 ALTER TABLE `bean_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `bean_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boyfriend_status`
--

DROP TABLE IF EXISTS `boyfriend_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boyfriend_status` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”·å‹ç”¨æˆ·ID',
  `status` enum('busy','missing','traveling','offline','online') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'online' COMMENT 'çŠ¶æ€',
  `status_text` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'çŠ¶æ€æ–‡æ¡ˆ',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `boyfriend_status_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç”·å‹çŠ¶æ€';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boyfriend_status`
--

LOCK TABLES `boyfriend_status` WRITE;
/*!40000 ALTER TABLE `boyfriend_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `boyfriend_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calorie_records`
--

DROP TABLE IF EXISTS `calorie_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calorie_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `meal_type` enum('breakfast','lunch','dinner','snack') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'é¤åˆ«',
  `food_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'é£Ÿç‰©åç§°',
  `calories` int NOT NULL COMMENT 'çƒ­é‡(åƒå¡)',
  `quantity` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '1ä»½' COMMENT 'ä»½é‡',
  `record_date` date NOT NULL COMMENT 'è®°å½•æ—¥æœŸ',
  `notes` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å¤‡æ³¨',
  `source` enum('self','boyfriend') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'self' COMMENT 'æ¥æº',
  `synced` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å·²åŒæ­¥åˆ°äº‘ç«¯',
  `version` int NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `calorie_records_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='çƒ­é‡è®°å½•';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calorie_records`
--

LOCK TABLES `calorie_records` WRITE;
/*!40000 ALTER TABLE `calorie_records` DISABLE KEYS */;
INSERT INTO `calorie_records` VALUES (1,1,'snack','杨枝甘露',350,'1份','2026-05-28',NULL,'boyfriend',0,1,'2026-05-28 22:04:13');
/*!40000 ALTER TABLE `calorie_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_id` int NOT NULL COMMENT 'å‘é€è€…ID',
  `receiver_id` int NOT NULL COMMENT 'æŽ¥æ”¶è€…ID',
  `content_encrypted` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åŠ å¯†æ¶ˆæ¯å†…å®¹',
  `message_type` enum('text','image','voice') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'text',
  `media_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åª’ä½“æ–‡ä»¶URL',
  `is_read` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å·²è¯»',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `reply_to_id` int DEFAULT NULL,
  `quote_content` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `sender_id` (`sender_id`),
  KEY `receiver_id` (`receiver_id`),
  CONSTRAINT `chat_messages_ibfk_1` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_messages_ibfk_2` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç§å¯†èŠå¤©ï¼ˆE2EåŠ å¯†ï¼‰';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `couple_invites`
--

DROP TABLE IF EXISTS `couple_invites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `couple_invites` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(6) NOT NULL,
  `creator_id` int NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) DEFAULT '0',
  `used_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `creator_id` (`creator_id`),
  CONSTRAINT `couple_invites_ibfk_1` FOREIGN KEY (`creator_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `couple_invites`
--

LOCK TABLES `couple_invites` WRITE;
/*!40000 ALTER TABLE `couple_invites` DISABLE KEYS */;
INSERT INTO `couple_invites` VALUES (5,'250551',1,'2026-06-27 02:54:50',0,NULL,'2026-06-26 18:44:49');
/*!40000 ALTER TABLE `couple_invites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `couples`
--

DROP TABLE IF EXISTS `couples`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `couples` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user1_id` int NOT NULL,
  `user2_id` int NOT NULL,
  `status` varchar(20) DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `broken_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user1` (`user1_id`),
  UNIQUE KEY `uk_user2` (`user2_id`),
  CONSTRAINT `couples_ibfk_1` FOREIGN KEY (`user1_id`) REFERENCES `users` (`id`),
  CONSTRAINT `couples_ibfk_2` FOREIGN KEY (`user2_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `couples`
--

LOCK TABLES `couples` WRITE;
/*!40000 ALTER TABLE `couples` DISABLE KEYS */;
/*!40000 ALTER TABLE `couples` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `course_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'è¯¾ç¨‹åç§°',
  `teacher` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æ•™å¸ˆ',
  `classroom` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æ•™å®¤',
  `day_of_week` tinyint NOT NULL COMMENT 'æ˜ŸæœŸå‡ (1-7)',
  `start_time` time NOT NULL COMMENT 'å¼€å§‹æ—¶é—´',
  `end_time` time NOT NULL COMMENT 'ç»“æŸæ—¶é—´',
  `week_type` enum('every','odd','even') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'every' COMMENT 'å•åŒå‘¨',
  `start_week` tinyint DEFAULT '1' COMMENT 'èµ·å§‹å‘¨',
  `end_week` tinyint DEFAULT '18' COMMENT 'ç»“æŸå‘¨',
  `color` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '#FF6B9D' COMMENT 'è¯¾ç¨‹é¢œè‰²',
  `version` int NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `courses_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è¯¾ç¨‹è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
INSERT INTO `courses` VALUES (3,1,'verify3b','','',2,'10:00:00','11:30:00','every',1,20,'#409EFF',1,'2026-06-09 16:03:20','2026-06-09 16:03:20'),(5,1,'verify3b','','',2,'10:00:00','11:30:00','every',1,20,'#409EFF',1,'2026-06-09 16:07:10','2026-06-09 16:07:10'),(7,1,'高等数学','','',1,'08:00:00','09:40:00','every',1,20,'#635BFF',1,'2026-06-25 00:44:51','2026-06-25 00:44:51');
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_quotes`
--

DROP TABLE IF EXISTS `daily_quotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_quotes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `content` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å¥å­å†…å®¹',
  `source` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT 'ä¸€è¨€API' COMMENT 'æ¥æº',
  `is_custom` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦è‡ªå®šä¹‰æƒ…è¯',
  `created_by` int DEFAULT NULL COMMENT 'åˆ›å»ºè€…ç”¨æˆ·ID',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `daily_quotes_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æ¯æ—¥ä¸€å¥åº“';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_quotes`
--

LOCK TABLES `daily_quotes` WRITE;
/*!40000 ALTER TABLE `daily_quotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_quotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_backups`
--

DROP TABLE IF EXISTS `data_backups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_backups` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `backup_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å¤‡ä»½æ•°æ®JSON',
  `backup_type` enum('auto','manual') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'auto' COMMENT 'å¤‡ä»½ç±»åž‹',
  `backup_date` date NOT NULL COMMENT 'å¤‡ä»½æ—¥æœŸ',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `data_backups_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æ•°æ®å¤‡ä»½';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_backups`
--

LOCK TABLES `data_backups` WRITE;
/*!40000 ALTER TABLE `data_backups` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_backups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exams`
--

DROP TABLE IF EXISTS `exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exams` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `subject` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'è€ƒè¯•ç§‘ç›®',
  `exam_date` date NOT NULL COMMENT 'è€ƒè¯•æ—¥æœŸ',
  `notes` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å¤‡æ³¨',
  `version` int NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `exams_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è€ƒè¯•å€’è®¡æ—¶';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exams`
--

LOCK TABLES `exams` WRITE;
/*!40000 ALTER TABLE `exams` DISABLE KEYS */;
/*!40000 ALTER TABLE `exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_achievements`
--

DROP TABLE IF EXISTS `feeding_achievements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_achievements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”·å‹ç”¨æˆ·ID',
  `achievement_key` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æˆå°±æ ‡è¯†',
  `achievement_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unlocked_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `feeding_achievements_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æŠ•å–‚æˆå°±';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_achievements`
--

LOCK TABLES `feeding_achievements` WRITE;
/*!40000 ALTER TABLE `feeding_achievements` DISABLE KEYS */;
INSERT INTO `feeding_achievements` VALUES (1,1,'first_order','第一次投喂','2026-05-28 22:39:36'),(2,1,'five_star','五星好评','2026-05-28 22:40:29');
/*!40000 ALTER TABLE `feeding_achievements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_addresses`
--

DROP TABLE IF EXISTS `feeding_addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_addresses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `label` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åœ°å€æ ‡ç­¾: å®¿èˆ/æ•™å­¦æ¥¼/æ ¡é—¨å£',
  `detail` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'è¯¦ç»†åœ°å€',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `feeding_addresses_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æ”¶è´§åœ°å€';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_addresses`
--

LOCK TABLES `feeding_addresses` WRITE;
/*!40000 ALTER TABLE `feeding_addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_brands`
--

DROP TABLE IF EXISTS `feeding_brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_brands` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_id` int NOT NULL COMMENT 'æ‰€å±žåˆ†ç±»ID',
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å“ç‰Œåç§°',
  `icon_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å“ç‰Œå›¾æ ‡URL',
  `bg_gradient` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `avg_price` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'äººå‡ä»·æ ¼',
  `sort_order` int NOT NULL DEFAULT '0' COMMENT 'æŽ’åº',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=138 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æŠ•å–‚å“ç‰Œ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_brands`
--

LOCK TABLES `feeding_brands` WRITE;
/*!40000 ALTER TABLE `feeding_brands` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_categories`
--

DROP TABLE IF EXISTS `feeding_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åˆ†ç±»åç§°',
  `icon_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åˆ†ç±»å›¾æ ‡URL',
  `sort_order` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æŠ•å–‚ä¸€çº§åˆ†ç±»';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_categories`
--

LOCK TABLES `feeding_categories` WRITE;
/*!40000 ALTER TABLE `feeding_categories` DISABLE KEYS */;
INSERT INTO `feeding_categories` VALUES (13,'奶茶','ðŸ§‹',1,1,'2026-06-05 01:31:46'),(14,'正餐','ðŸœ',2,1,'2026-06-05 01:31:46'),(15,'小吃','ðŸ¿',3,1,'2026-06-05 01:31:46'),(16,'水果','ðŸ“',4,1,'2026-06-05 01:31:46'),(17,'甜品','ðŸ°',5,1,'2026-06-05 01:31:46'),(18,'浪漫惊喜','ðŸ’',6,1,'2026-06-05 01:31:46');
/*!40000 ALTER TABLE `feeding_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_orders`
--

DROP TABLE IF EXISTS `feeding_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_orders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `girl_user_id` int NOT NULL COMMENT 'å¥³ç”Ÿç”¨æˆ·ID',
  `boy_user_id` int NOT NULL COMMENT 'ç”·ç”Ÿç”¨æˆ·ID',
  `product_id` int NOT NULL COMMENT 'å•†å“ID',
  `product_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `specs` json DEFAULT NULL COMMENT 'é€‰æ‹©çš„è§„æ ¼',
  `quantity` int NOT NULL DEFAULT '1',
  `total_price` decimal(10,2) NOT NULL DEFAULT '0.00',
  `note` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å¤‡æ³¨',
  `address` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æ”¶è´§åœ°å€',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `rating` int DEFAULT NULL COMMENT 'è¯„åˆ†1-5',
  `review` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'è¯„ä»·å†…å®¹',
  `calories_synced` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'çƒ­é‡å·²åŒæ­¥',
  `finance_synced` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'è®°è´¦å·²åŒæ­¥',
  `accepted_at` datetime DEFAULT NULL COMMENT 'æŽ¥å•æ—¶é—´',
  `delivered_at` datetime DEFAULT NULL COMMENT 'é€è¾¾æ—¶é—´',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `platform` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `actual_amount` decimal(10,2) DEFAULT NULL,
  `platform_order_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `delivery_status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `delivery_eta` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `delivery_note` text COLLATE utf8mb4_unicode_ci,
  `sender_id` int DEFAULT NULL,
  `receiver_id` int DEFAULT NULL,
  `shop_id` int DEFAULT NULL,
  `product_price` int NOT NULL DEFAULT '0',
  `message` text COLLATE utf8mb4_unicode_ci,
  `urge_count` int NOT NULL DEFAULT '0',
  `last_urge_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `girl_user_id` (`girl_user_id`),
  KEY `boy_user_id` (`boy_user_id`),
  CONSTRAINT `feeding_orders_ibfk_1` FOREIGN KEY (`girl_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `feeding_orders_ibfk_2` FOREIGN KEY (`boy_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æŠ•å–‚è®¢å•';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_orders`
--

LOCK TABLES `feeding_orders` WRITE;
/*!40000 ALTER TABLE `feeding_orders` DISABLE KEYS */;
INSERT INTO `feeding_orders` VALUES (1,1,1,814,'杨枝甘露','{}',1,16.00,'少糖',NULL,'rated',5,NULL,1,0,'2026-05-28 22:39:31','2026-05-28 22:39:36','2026-05-28 22:04:13','2026-07-02 23:25:59',NULL,NULL,NULL,NULL,NULL,NULL,1,1,NULL,16,'少糖',0,NULL),(2,1,2,814,'','{}',1,0.00,'���Զ���',NULL,'cancelled',NULL,NULL,0,0,NULL,NULL,'2026-06-09 13:16:02','2026-07-02 23:25:59',NULL,NULL,NULL,NULL,NULL,NULL,2,1,NULL,0,'���Զ���',0,NULL);
/*!40000 ALTER TABLE `feeding_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_preferences`
--

DROP TABLE IF EXISTS `feeding_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_preferences` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `content` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å¤‡æ³¨å†…å®¹: å¦‚ä¸è¦é¦™èœ/å¤šæ”¾è¾£',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `feeding_preferences_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å¸¸ç”¨å¤‡æ³¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_preferences`
--

LOCK TABLES `feeding_preferences` WRITE;
/*!40000 ALTER TABLE `feeding_preferences` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_product_categories`
--

DROP TABLE IF EXISTS `feeding_product_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_product_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `brand_id` int NOT NULL COMMENT 'æ‰€å±žå“ç‰ŒID',
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å“ç‰Œå†…åˆ†ç±»å',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `brand_id` (`brand_id`),
  CONSTRAINT `feeding_product_categories_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `feeding_brands` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å“ç‰Œå†…å•†å“åˆ†ç±»';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_product_categories`
--

LOCK TABLES `feeding_product_categories` WRITE;
/*!40000 ALTER TABLE `feeding_product_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_product_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_products`
--

DROP TABLE IF EXISTS `feeding_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_products` (
  `id` int NOT NULL AUTO_INCREMENT,
  `brand_id` int DEFAULT NULL COMMENT 'æ‰€å±žå“ç‰ŒID',
  `product_category_id` int DEFAULT NULL COMMENT 'å“ç‰Œå†…åˆ†ç±»ID',
  `category` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åˆ†ç±»: milk_tea/meal/snack/fruit/dessert/mood',
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å•†å“åç§°',
  `image_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å•†å“å›¾ç‰‡',
  `price` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'ä»·æ ¼',
  `base_price` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'åŸºç¡€ä»·æ ¼',
  `rating` decimal(2,1) NOT NULL DEFAULT '5.0' COMMENT 'è¯„åˆ†',
  `monthly_sales` int NOT NULL DEFAULT '0' COMMENT 'æœˆé”€',
  `specs` longtext COLLATE utf8mb4_unicode_ci,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_custom` tinyint(1) DEFAULT '0',
  `created_by` int DEFAULT NULL,
  `shop_id` int DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2732 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æŠ•å–‚å•†å“';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_products`
--

LOCK TABLES `feeding_products` WRITE;
/*!40000 ALTER TABLE `feeding_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_shops`
--

DROP TABLE IF EXISTS `feeding_shops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_shops` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `icon` varchar(20) DEFAULT 'ðŸª',
  `description` varchar(500) DEFAULT '',
  `category` varchar(50) DEFAULT 'food',
  `banner_color` varchar(20) DEFAULT '#FF6B8A',
  `sort_order` int DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_shops`
--

LOCK TABLES `feeding_shops` WRITE;
/*!40000 ALTER TABLE `feeding_shops` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_shops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_spec_options`
--

DROP TABLE IF EXISTS `feeding_spec_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_spec_options` (
  `id` int NOT NULL AUTO_INCREMENT,
  `spec_type` enum('size','sugar','temp','topping','note','sweetness','temperature','spiciness','portion') COLLATE utf8mb4_unicode_ci NOT NULL,
  `label` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'é€‰é¡¹åç§°',
  `price_modifier` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'åŠ ä»·é‡‘é¢',
  `sort_order` int NOT NULL DEFAULT '0',
  `is_default` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦é»˜è®¤é€‰é¡¹',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è§„æ ¼é€‰é¡¹';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_spec_options`
--

LOCK TABLES `feeding_spec_options` WRITE;
/*!40000 ALTER TABLE `feeding_spec_options` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_spec_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_taste_memory`
--

DROP TABLE IF EXISTS `feeding_taste_memory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_taste_memory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `product_id` int NOT NULL,
  `last_specs` json DEFAULT NULL COMMENT 'ä¸Šæ¬¡é€‰æ‹©çš„è§„æ ¼',
  `order_count` int NOT NULL DEFAULT '1',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_product` (`user_id`,`product_id`),
  CONSTRAINT `feeding_taste_memory_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å£å‘³è®°å¿†';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_taste_memory`
--

LOCK TABLES `feeding_taste_memory` WRITE;
/*!40000 ALTER TABLE `feeding_taste_memory` DISABLE KEYS */;
INSERT INTO `feeding_taste_memory` VALUES (1,1,815,NULL,2,'2026-05-28 22:31:07');
/*!40000 ALTER TABLE `feeding_taste_memory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_wishlist`
--

DROP TABLE IF EXISTS `feeding_wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_wishlist` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'å¥³ç”Ÿç”¨æˆ·ID',
  `food_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æƒ³åƒçš„ä¸œè¥¿',
  `note` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å¤‡æ³¨',
  `wish_date` date DEFAULT NULL COMMENT 'æƒ³åƒçš„æ—¶é—´',
  `status` enum('active','fulfilled','archived') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `fulfilled_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `feeding_wishlist_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å¿ƒæ„¿å•';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_wishlist`
--

LOCK TABLES `feeding_wishlist` WRITE;
/*!40000 ALTER TABLE `feeding_wishlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_wishlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finance_records`
--

DROP TABLE IF EXISTS `finance_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `finance_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `type` enum('income','expense') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ”¶æ”¯ç±»åž‹',
  `category` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åˆ†ç±»',
  `amount_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åŠ å¯†-é‡‘é¢',
  `description_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åŠ å¯†-å¤‡æ³¨',
  `receipt_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æ¶ˆè´¹æˆªå›¾URL',
  `record_date` date NOT NULL COMMENT 'è®°å½•æ—¥æœŸ',
  `calorie_synced` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦åŒæ­¥åˆ°å¡è·¯é‡Œ',
  `version` int NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `source_module` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `finance_records_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è®°è´¦è®°å½•ï¼ˆåŠ å¯†ï¼‰';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finance_records`
--

LOCK TABLES `finance_records` WRITE;
/*!40000 ALTER TABLE `finance_records` DISABLE KEYS */;
INSERT INTO `finance_records` VALUES (2,1,'expense','餐饮','f51ad2c1ac9bf4f7cdeea8afe9a22ab3:1bdebe7cca95cf74d69183a0e4a6f142:63e9','',NULL,'2026-06-04',0,1,'2026-06-04 17:10:04','2026-06-04 17:10:04',NULL,NULL),(3,1,'expense','餐饮','b77e44476edd244dcf04cb60f520ec61:250b4351d571bb4b59e284710752b9c6:032e','',NULL,'2026-06-04',0,1,'2026-06-04 17:25:00','2026-06-04 17:25:00',NULL,NULL);
/*!40000 ALTER TABLE `finance_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food_library`
--

DROP TABLE IF EXISTS `food_library`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_library` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'é£Ÿç‰©åç§°',
  `category` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åˆ†ç±»',
  `calories_per_100g` int NOT NULL COMMENT 'æ¯100gçƒ­é‡',
  `is_custom` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦è‡ªå®šä¹‰',
  `created_by` int DEFAULT NULL COMMENT 'åˆ›å»ºè€…',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `food_library_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=785 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='é£Ÿç‰©çƒ­é‡åº“';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_library`
--

LOCK TABLES `food_library` WRITE;
/*!40000 ALTER TABLE `food_library` DISABLE KEYS */;
/*!40000 ALTER TABLE `food_library` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `love_timeline`
--

DROP TABLE IF EXISTS `love_timeline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `love_timeline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'åˆ›å»ºè€…ID',
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'äº‹ä»¶æ ‡é¢˜',
  `description` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'äº‹ä»¶æè¿°',
  `event_date` date NOT NULL COMMENT 'äº‹ä»¶æ—¥æœŸ',
  `image_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'é…å›¾',
  `icon` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'â¤ï¸' COMMENT 'å›¾æ ‡emoji',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `love_timeline_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æ‹çˆ±æ—¶å…‰è½´';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `love_timeline`
--

LOCK TABLES `love_timeline` WRITE;
/*!40000 ALTER TABLE `love_timeline` DISABLE KEYS */;
/*!40000 ALTER TABLE `love_timeline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mood_diary`
--

DROP TABLE IF EXISTS `mood_diary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mood_diary` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `mood` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å¿ƒæƒ…ç±»åž‹: happy/sad/angry/anxious/calm/love',
  `note` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å¿ƒæƒ…å¤‡æ³¨',
  `record_date` date NOT NULL COMMENT 'æ—¥æœŸ',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `mood_diary_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å¿ƒæƒ…æ—¥è®°';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mood_diary`
--

LOCK TABLES `mood_diary` WRITE;
/*!40000 ALTER TABLE `mood_diary` DISABLE KEYS */;
INSERT INTO `mood_diary` VALUES (2,1,'😊','','2026-06-01','2026-06-01 12:50:23'),(3,1,'😍','','2026-06-02','2026-06-03 07:34:16'),(5,1,'excited','','2026-06-22','2026-06-22 19:25:55');
/*!40000 ALTER TABLE `mood_diary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `type` varchar(40) NOT NULL,
  `title` varchar(100) NOT NULL,
  `content` varchar(255) NOT NULL,
  `payload` json DEFAULT NULL,
  `read_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_notifications_user` (`user_id`,`read_at`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `period_records`
--

DROP TABLE IF EXISTS `period_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `period_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `start_date_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åŠ å¯†-å¼€å§‹æ—¥æœŸ',
  `end_date_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cycle_days_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åŠ å¯†-å‘¨æœŸå¤©æ•°',
  `duration_days_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åŠ å¯†-æŒç»­å¤©æ•°',
  `pain_level_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åŠ å¯†-ç—›ç»ç­‰çº§0-5',
  `symptoms_encrypted` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åŠ å¯†-ç—‡çŠ¶JSON',
  `medicine_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åŠ å¯†-ç”¨è¯',
  `notes_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åŠ å¯†-å¤‡æ³¨',
  `version` int NOT NULL DEFAULT '1' COMMENT 'ä¹è§‚é”ç‰ˆæœ¬å·',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `period_records_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç»æœŸè®°å½•ï¼ˆåŠ å¯†ï¼‰';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `period_records`
--

LOCK TABLES `period_records` WRITE;
/*!40000 ALTER TABLE `period_records` DISABLE KEYS */;
INSERT INTO `period_records` VALUES (15,1,'6cc1571aff31a6dbb884146a0caec270:531295d97f638b3049f9461d655180fd:d6f62bae7207b0c645eb',NULL,'2fa5e301c4cf77d83221ae3dbc55391a:62e3df4b6732cf69fa1f06649b94fabf:17a9','1993b1423bf1d127bb44c928891a4925:67ebddfff95a4ac4c7b7c6a3591d03ec:d2',NULL,NULL,NULL,'cdb294304cd2cb0036cd470fee816d93:c4802f3ade6a6c12773b2ef552df0dc1:5a387c0c59d939903347b171',1,'2026-06-09 13:20:17','2026-06-09 13:20:17');
/*!40000 ALTER TABLE `period_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `photos`
--

DROP TABLE IF EXISTS `photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `photos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ä¸Šä¼ è€…ID',
  `url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å›¾ç‰‡URL',
  `thumbnail_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ç¼©ç•¥å›¾URL',
  `category` enum('couple','daily','wallpaper') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'daily' COMMENT 'åˆ†ç±»',
  `visibility` enum('shared','private') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'shared' COMMENT 'å¯è§æ€§',
  `description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æè¿°',
  `photo_date` date DEFAULT NULL COMMENT 'ç…§ç‰‡æ—¥æœŸ',
  `is_bg` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦è®¾ä¸ºèƒŒæ™¯',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `photos_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç›¸å†Œ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `photos`
--

LOCK TABLES `photos` WRITE;
/*!40000 ALTER TABLE `photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `push_messages`
--

DROP TABLE IF EXISTS `push_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `push_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç›®æ ‡ç”¨æˆ·ID',
  `type` enum('quote','weather','period','reminder','custom','todo','exam','course') COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `push_messages_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=762 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æŽ¨é€æ¶ˆæ¯';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `push_messages`
--

LOCK TABLES `push_messages` WRITE;
/*!40000 ALTER TABLE `push_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `push_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_switch_log`
--

DROP TABLE IF EXISTS `role_switch_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_switch_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `from_role` enum('girl','boy') COLLATE utf8mb4_unicode_ci NOT NULL,
  `to_role` enum('girl','boy') COLLATE utf8mb4_unicode_ci NOT NULL,
  `switched_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `role_switch_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è§’è‰²åˆ‡æ¢æ—¥å¿—';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_switch_log`
--

LOCK TABLES `role_switch_log` WRITE;
/*!40000 ALTER TABLE `role_switch_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_switch_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `splash_config`
--

DROP TABLE IF EXISTS `splash_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `splash_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `image_url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å¯åŠ¨é¡µå›¾ç‰‡URL',
  `title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'LoveGirl' COMMENT 'å¯åŠ¨é¡µæ ‡é¢˜',
  `subtitle` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT 'åªä¸ºç‰¹åˆ«çš„ä½ ' COMMENT 'å¯åŠ¨é¡µå‰¯æ ‡é¢˜',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å¯åŠ¨é¡µé…ç½®';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `splash_config`
--

LOCK TABLES `splash_config` WRITE;
/*!40000 ALTER TABLE `splash_config` DISABLE KEYS */;
INSERT INTO `splash_config` VALUES (1,'/splash/default.jpg','LoveGirl','åªä¸ºç‰¹åˆ«çš„ä½  ðŸ’•',1,'2026-05-23 21:19:20','2026-05-23 21:19:20');
/*!40000 ALTER TABLE `splash_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sync_queue`
--

DROP TABLE IF EXISTS `sync_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sync_queue` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `table_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ•°æ®è¡¨å',
  `record_id` int NOT NULL COMMENT 'è®°å½•ID',
  `operation` enum('create','update','delete') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ“ä½œç±»åž‹',
  `data` json NOT NULL COMMENT 'æ•°æ®å¿«ç…§',
  `synced` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `sync_queue_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='åŒæ­¥é˜Ÿåˆ—';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sync_queue`
--

LOCK TABLES `sync_queue` WRITE;
/*!40000 ALTER TABLE `sync_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `sync_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `themes`
--

DROP TABLE IF EXISTS `themes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `themes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `current_theme` enum('pink','dark','fresh') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pink' COMMENT 'å½“å‰ä¸»é¢˜',
  `auto_switch` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦è‡ªåŠ¨åˆ‡æ¢ä¸»é¢˜',
  `custom_bg_urls` json DEFAULT NULL COMMENT 'è‡ªå®šä¹‰èƒŒæ™¯å›¾URLåˆ—è¡¨',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `themes_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ä¸»é¢˜é…ç½®';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `themes`
--

LOCK TABLES `themes` WRITE;
/*!40000 ALTER TABLE `themes` DISABLE KEYS */;
INSERT INTO `themes` VALUES (1,1,'pink',0,NULL),(2,2,'pink',0,NULL),(3,3,'pink',0,NULL);
/*!40000 ALTER TABLE `themes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `todos`
--

DROP TABLE IF EXISTS `todos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `todos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ ‡é¢˜',
  `description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æè¿°',
  `category` enum('daily','study','life','custom') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'custom' COMMENT 'åˆ†ç±»',
  `is_repeat` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦é‡å¤',
  `repeat_type` enum('none','daily','weekly','monthly') COLLATE utf8mb4_unicode_ci DEFAULT 'none' COMMENT 'é‡å¤ç±»åž‹',
  `priority` tinyint NOT NULL DEFAULT '0' COMMENT 'ä¼˜å…ˆçº§0-3',
  `completed` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å®Œæˆ',
  `completed_at` datetime DEFAULT NULL COMMENT 'å®Œæˆæ—¶é—´',
  `due_date` date DEFAULT NULL COMMENT 'æˆªæ­¢æ—¥æœŸ',
  `boyfriend_help` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'ç”·å‹å¸®åš',
  `version` int NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `todos_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å¾…åŠžäº‹é¡¹';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `todos`
--

LOCK TABLES `todos` WRITE;
/*!40000 ALTER TABLE `todos` DISABLE KEYS */;
/*!40000 ALTER TABLE `todos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_achievements`
--

DROP TABLE IF EXISTS `travel_achievements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_achievements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `code` varchar(80) NOT NULL,
  `title` varchar(100) NOT NULL,
  `description` varchar(255) DEFAULT '',
  `unlocked_at` datetime NOT NULL,
  `payload` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_travel_achievement_user_code` (`user_id`,`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_achievements`
--

LOCK TABLES `travel_achievements` WRITE;
/*!40000 ALTER TABLE `travel_achievements` DISABLE KEYS */;
/*!40000 ALTER TABLE `travel_achievements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_expenses`
--

DROP TABLE IF EXISTS `travel_expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_expenses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `spot_id` int DEFAULT NULL,
  `route_id` int DEFAULT NULL,
  `finance_record_id` int DEFAULT NULL,
  `category` varchar(30) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `description` text,
  `record_date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_travel_expenses_user` (`user_id`,`record_date`),
  KEY `idx_travel_expenses_route` (`route_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_expenses`
--

LOCK TABLES `travel_expenses` WRITE;
/*!40000 ALTER TABLE `travel_expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `travel_expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_photos`
--

DROP TABLE IF EXISTS `travel_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_photos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `spot_id` int NOT NULL,
  `user_id` int NOT NULL,
  `url` varchar(500) NOT NULL,
  `description` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_spot_id` (`spot_id`),
  CONSTRAINT `travel_photos_ibfk_1` FOREIGN KEY (`spot_id`) REFERENCES `travel_spots` (`id`) ON DELETE CASCADE,
  CONSTRAINT `travel_photos_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_photos`
--

LOCK TABLES `travel_photos` WRITE;
/*!40000 ALTER TABLE `travel_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `travel_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_route_spots`
--

DROP TABLE IF EXISTS `travel_route_spots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_route_spots` (
  `id` int NOT NULL AUTO_INCREMENT,
  `route_id` int NOT NULL,
  `spot_id` int NOT NULL,
  `sort_order` int DEFAULT '0',
  `note` text,
  PRIMARY KEY (`id`),
  KEY `idx_travel_route_spots_route` (`route_id`,`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_route_spots`
--

LOCK TABLES `travel_route_spots` WRITE;
/*!40000 ALTER TABLE `travel_route_spots` DISABLE KEYS */;
/*!40000 ALTER TABLE `travel_route_spots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_routes`
--

DROP TABLE IF EXISTS `travel_routes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_routes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `title` varchar(100) NOT NULL,
  `city` varchar(50) DEFAULT NULL,
  `description` text,
  `status` varchar(20) DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `mode` varchar(20) DEFAULT 'driving',
  `distance` int DEFAULT NULL,
  `duration` int DEFAULT NULL,
  `path_json` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_travel_routes_user` (`user_id`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_routes`
--

LOCK TABLES `travel_routes` WRITE;
/*!40000 ALTER TABLE `travel_routes` DISABLE KEYS */;
/*!40000 ALTER TABLE `travel_routes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_spots`
--

DROP TABLE IF EXISTS `travel_spots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_spots` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `address` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `lng` decimal(10,7) DEFAULT '0.0000000',
  `lat` decimal(10,7) DEFAULT '0.0000000',
  `emoji` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('visited','wish','planned') COLLATE utf8mb4_unicode_ci DEFAULT 'wish',
  `note` text COLLATE utf8mb4_unicode_ci,
  `diary` text COLLATE utf8mb4_unicode_ci COMMENT 'æ¸¸è®°æ—¥è®°',
  `visited_date` date DEFAULT NULL,
  `photos` json DEFAULT NULL,
  `rating` tinyint DEFAULT NULL,
  `mood` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weather` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å¤©æ°”',
  `tags` json DEFAULT NULL,
  `reason` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `desire` tinyint DEFAULT NULL,
  `planned_date` date DEFAULT NULL,
  `itinerary` text COLLATE utf8mb4_unicode_ci,
  `budget` decimal(10,2) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `traffic` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `opening_hours` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  `owner_note` text COLLATE utf8mb4_unicode_ci,
  `partner_note` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_status` (`user_id`,`status`),
  KEY `idx_city` (`user_id`,`city`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_spots`
--

LOCK TABLES `travel_spots` WRITE;
/*!40000 ALTER TABLE `travel_spots` DISABLE KEYS */;
/*!40000 ALTER TABLE `travel_spots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_tickets`
--

DROP TABLE IF EXISTS `travel_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_tickets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `spot_id` int DEFAULT NULL,
  `route_id` int DEFAULT NULL,
  `title` varchar(100) NOT NULL,
  `subtitle` varchar(150) DEFAULT '',
  `ticket_date` date DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `payload` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_travel_tickets_user` (`user_id`,`ticket_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_tickets`
--

LOCK TABLES `travel_tickets` WRITE;
/*!40000 ALTER TABLE `travel_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `travel_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_activity_log`
--

DROP TABLE IF EXISTS `user_activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_activity_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `module` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ¨¡å—åç§°',
  `action` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ“ä½œç±»åž‹',
  `count` int NOT NULL DEFAULT '1',
  `last_access` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_module` (`user_id`,`module`),
  CONSTRAINT `user_activity_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=137 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç”¨æˆ·ä½¿ç”¨é¢‘çŽ‡';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_activity_log`
--

LOCK TABLES `user_activity_log` WRITE;
/*!40000 ALTER TABLE `user_activity_log` DISABLE KEYS */;
INSERT INTO `user_activity_log` VALUES (1,1,'feeding','browse',136,'2026-06-24 19:21:18');
/*!40000 ALTER TABLE `user_activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_privacy`
--

DROP TABLE IF EXISTS `user_privacy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_privacy` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `photo_visible` tinyint(1) DEFAULT '1',
  `mood_visible` tinyint(1) DEFAULT '1',
  `travel_visible` tinyint(1) DEFAULT '1',
  `chat_visible` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_privacy`
--

LOCK TABLES `user_privacy` WRITE;
/*!40000 ALTER TABLE `user_privacy` DISABLE KEYS */;
INSERT INTO `user_privacy` VALUES (1,1,1,1,1,1);
/*!40000 ALTER TABLE `user_privacy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·å',
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'bcryptå¯†ç å“ˆå¸Œ',
  `nickname` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'å°å¯çˆ±' COMMENT 'å¥¹çš„æ˜µç§°',
  `partner_nickname` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'å¤§ç¬¨è›‹' COMMENT 'ç”·å‹æ˜µç§°',
  `partner_phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ç”·å‹æ‰‹æœºå·',
  `emergency_phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ç´§æ€¥è”ç³»ç”µè¯',
  `avatar_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å¤´åƒURL',
  `role` enum('girl','boy') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'girl' COMMENT 'è§’è‰²',
  `gender` enum('male','female') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æ°¸ä¹…æ€§åˆ«',
  `is_admin` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦ç®¡ç†å‘˜',
  `fingerprint_enabled` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å¼€å¯æŒ‡çº¹é”',
  `app_lock_enabled` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å¼€å¯APPæ•´ä½“é”',
  `period_lock_enabled` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'å§¨å¦ˆæ¨¡å—ç‹¬ç«‹é”',
  `finance_lock_enabled` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'è®°è´¦æ¨¡å—ç‹¬ç«‹é”',
  `finance_privacy_enabled` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'è®°è´¦éšç§å¼€å…³',
  `love_start_date` date DEFAULT NULL COMMENT 'æ‹çˆ±å¼€å§‹æ—¥æœŸ',
  `push_daily_quote` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'æ¯æ—¥ä¸€å¥æŽ¨é€',
  `push_weather` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'å¤©æ°”æŽ¨é€',
  `push_period` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'å§¨å¦ˆæŽ¨é€',
  `push_exam` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'è€ƒè¯•æŽ¨é€',
  `push_todo` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'å¾…åŠžæŽ¨é€',
  `push_course` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'è¯¾ç¨‹æŽ¨é€',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `bean_balance` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç”¨æˆ·è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `weight_records`
--

DROP TABLE IF EXISTS `weight_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `weight_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT 'ç”¨æˆ·ID',
  `weight_encrypted` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åŠ å¯†-ä½“é‡(kg)',
  `record_date` date NOT NULL COMMENT 'è®°å½•æ—¥æœŸ',
  `version` int NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `weight_records_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ä½“é‡è®°å½•ï¼ˆåŠ å¯†ï¼‰';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weight_records`
--

LOCK TABLES `weight_records` WRITE;
/*!40000 ALTER TABLE `weight_records` DISABLE KEYS */;
INSERT INTO `weight_records` VALUES (5,1,'264d7ad07186ee7db638ff1ec8e29dfe:64f1d013e8643e39edf48fa17e32d5dd:e60e8a72','2026-06-09',1,'2026-06-09 13:06:48');
/*!40000 ALTER TABLE `weight_records` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-03  1:46:01
